#admin-filter {
  margin-top: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
  button {
    padding: 4px 20px;
    background: none;
    transform: translateY(1px);
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
  }

  button.active {
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-bottom: 1px solid rgb(255, 255, 255);
  }
}

#product-list {
  .pass-btn {
    padding: 4px;
    width: 50%;
    margin-bottom: 4px;
  }

  .pass-btn:hover {
    background: rgba(107, 102, 102, 0.301);
  }

  .pass {
    color: rgb(40, 194, 40);
  }
  .delete {
    color: rgb(241, 77, 77);
    margin-left: auto;
  }
}
