#header {
  background: rgb(24, 23, 23);
  border-bottom: 1px solid rgba(83, 79, 79, 0.171);
}

#desktop {
  .header-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avt-wrapper {
      width: 200px;
      img {
        width: 100%;
      }
    }

    .header-right-wrapper {
      display: flex;
      align-items: center;

      a {
        margin: auto 16px;
        color: white;
        text-decoration: none;
        span {
          margin-left: 8px;
        }
      }
      a:hover {
        color: rgba(255, 255, 255, 0.747);
        transition: ease 0.5s;
      }

      button {
        position: relative;
        background: transparent;
        color: white;
        cursor: pointer;
        span {
          margin: auto 4px;
        }

        .child-menu {
          position: absolute;
          ul {
            background-color: white;
            margin: 0;
            padding: 0;
            border-radius: 4px;
            overflow: hidden;
            border: 1px solid rgba(163, 159, 159, 0.158);
          }
          li {
            width: 140px;
            padding: 10px 0px;
            list-style-type: none;
          }

          li:hover {
            background: rgba(89, 136, 180, 0.116);
            transition: ease 0.5s;
          }

          a {
            color: rgb(99, 92, 133) !important;
          }
        }
      }
    }
  }
}

#mobile {
  display: none;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    .avt-wrapper {
      width: 200px;

      img {
        width: 100%;
      }
    }
    .btn-wrapper {
      button {
        background: none;
        font-size: 1.6rem;
        color: rgb(24, 23, 23);
      }
    }
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(136, 130, 130, 0.322);
    backdrop-filter: blur(4px);
  }

  .menu-container {
    padding-top: 27px;
    transition: ease 0.5s;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: rgb(24, 23, 23);
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      padding: 8px 20px;

      a {
        margin: auto 8px;
        color: white;
        text-decoration: none;
        span {
          margin-left: 8px;
        }
      }
    }
  }
}

.notification {
  position: absolute;
  width: 400px;
  background: white;
  z-index: 1;
  border: 1px solid rgba(138, 129, 129, 0.247);
  border-radius: 10px;
  top: 34px;
  right: -182px;
}

.notification::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: white;
  top: -20px;
  right: 196px;
}

.notif-container {
  padding: 20px 0px;
}

.notif-container ul {
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: scroll;
}

.notif-container ul li {
  list-style-type: none;
  font-family: fontLight;
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px solid rgba(104, 100, 100, 0.24);
  padding: 16px 12px;
}

.notif-container ul li:hover {
  background: rgba(189, 185, 185, 0.123);
  transition: ease 0.1s;
}

.notif-container ul li a {
  color: black !important;
  margin: 0 !important;
}

.notif-container ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
}

.notif-container ul::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.082) !important;
}

.notif-container ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  height: 5px;
}

.notif-container ul::-webkit-scrollbar-track {
  background-color: #0000000c !important;
  border-radius: 10px;
}

.header-notify {
  position: relative;
  .notify-btn {
    position: relative;
    margin: 0px 12px;

    span {
      position: absolute;
      width: 16px;
      height: 16px;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .6rem;
      border-radius: 50%;
      top: -6px;
      right: -8px;
    }
  }
}
